[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
transformers = "*"
opencv-python = "*"
nltk = "*"
spacy = "*"
ipykernel = "*"
notebook = "*"
seaborn = "*"
streamlit = "*"
chromadb = "*"
langchain = "*"
llama-index = "*"
iprogress = "*"
ipywidgets = "*"
jupyter = "*"
plotly = "*"
sentence-transformers = "*"
kagglehub = "*"
graphviz = "*"
dtreeviz = "*"
mpl-tools = "*"
category-encoders = "*"
chart-studio = "*"

[dev-packages]

[requires]
python_version = "3.11"
